*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
/* Main ke under width and height nahi set krna */

.page1{
    width: 100%;
    height: 100vh;
    background-color: rgba(6, 78, 78, 0.651);
}

.page2{
    width: 100%;
    height: 100vh;
    background-color: rgba(27, 201, 201, 0.651);
    display: flex;  
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1706277750070-038c259c2ab7?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDI4fGJvOGpRS1RhRTBZfHxlbnwwfHx8fHw%3D");
    background-position: center;
    background-size: cover;

}
.page2 img{
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
}
.page3{
    width: 100%;
    height: 100vh;
    background-color: rgba(6, 78, 42, 0.651);
}